@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}
